
<h2>Welcome to the CINEMA ROULETTE</h2>
<div>
    <p>Please pick up to 3 Genres.</p>
</div>



<form id="checkboxForm"  action="/submit">

      <div>
            <input type="checkbox" id="option1" name="options" value="1">
            <label for="option1">History</label>
        </div>

    {{#each options}}
        <div>
            <input type="checkbox" id="{{this.id}}" name="options" value="{{this.value}}">
            <label for="{{this.id}}">{{this.label}}</label>
        </div>
    {{/each}}
    <button type="submit">History</button>
</form>

{{!-- 
{{
#each
 items}}
2  <input type="checkbox" id="item-{{@index}}" {{
#if
 isSelected}}checked{{
/if
}}>
3  <label for="item-{{@index}}">{{name}}</label>
4{{
/each
}} --}}


